/practice_9_screens/
/practice_10_screens/
/practice_1.1.html
/practice_1.2.html
/practice_2.html
/practice_3.1.html
/practice_3.2.html
/practice_7.1.html
/practice_7.2.html
/practice_7.3.html
/practice_9.js
/practice_10.js
/styles_7.css
.idea
